header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 5px rgba(0,0,0,.3);
    box-sizing: border-box;
}

header #logo {
    text-align: center;
    line-height: 10px;
}

header #logo img {
    width: 95px;
    margin-top: -7px;
}

header #logo h1 {
    display: inline-block;
    font-variant: small-caps;
    font-size: 11pt;
    padding: 5px;
    background-color: #DD0000;
    color: white;
    border-radius: 0px 0px 3px 3px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    box-shadow: 0px 0px 1px rgba(0,0,0,.3);
}

header #btn-menu-toggle {
    position: absolute;
    top: 0;
    left: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 30px;
    padding: 15px 0;
    cursor: pointer;
    box-sizing: border-box;
}

header #btn-menu-toggle:hover {
    animation: toggleMenu .6s;
}

header #btn-menu-toggle div {
    height: 3px;
    width: 100%;
    background-color: #444;
    border-radius: 3px;
    transition: all .4s;
}

@-moz-keyframes toggleMenu {
    25% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}

@-webkit-keyframes toggleMenu {
    25% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}

#nav-menu {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: -242px;
    line-height: 60px;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    transition: top .4s;
}

#nav-menu table {
    width: 100%;
    border-bottom: 1px solid #ABABAB;
    border-collapse: collapse;
}

#nav-menu table th {
    font-size: 16pt;
    border-bottom: 1px solid #777;
    background-color: rgb(235, 230, 255);
    line-height: 50px;
}

#nav-menu table td {
    line-height: 45px;
}

#nav-menu table th, td {
    text-align: center;
    font-family: Arial;
    border-right: 1px solid #888;
}

#nav-menu table td:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.05);
}

header #nav-bar {
    position: fixed;
    right: 10px;
    top: 0;
}

header #nav-bar ul {
    list-style: none;
}

header #nav-bar ul li {
    display: inline-block;
    cursor: pointer;
}

header #nav-bar ul li #menu-item-home::before {
    content: url("../imgs/icons/home.png");
    vertical-align: middle;
    margin-right: 6px;
}

header #nav-bar ul li #menu-item-live::before {
    content: url("../imgs/icons/tv.png");
    vertical-align: middle;
    margin-right: 6px;
}

header #nav-bar ul li #menu-item-contato::before {
    content: url("../imgs/icons/contato.png");
    vertical-align: middle;
    margin-right: 6px;
}

header #nav-bar ul li #menu-item-login::before {
    content: url("../imgs/icons/login.png");
    vertical-align: middle;
    margin-right: 6px;
}

header #nav-bar ul li #menu-item-sobre::before {
    content: url("../imgs/icons/about.png");
    vertical-align: middle;
    margin-right: 6px;
}

header #nav-bar li a {
    color: #444;
    text-decoration: none;
    font-size: 12pt;
    font-family: Arial;
    font-weight: bold;
    padding: 20px 8px;
}

header #nav-bar li a:hover {
    border-bottom: 2px solid #444;
}