footer {
    width: 100%;
    background-color: rgba(50, 50, 50, .9);
    box-sizing: border-box;
}

footer table {
    width: 100%;
}

footer table tr {
    border-bottom: 1px solid #CECECE;
}

footer table tr:last-child {
    border-bottom: none;
}

footer table td {
    border-right: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
    padding: 10px;
}

footer table tr:first-child {
    border-top: none;
}

footer table td:last-child {
    border-bottom: none;
}

footer p {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 12pt;
    text-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

footer #fbanco p {
    line-height: 25px;
}