.box {
    display: flex;
    width: 100%;
}

form {
    width: 100%;
    padding-right: 2.5%;
    box-sizing: border-box;
}

form fieldset {
    text-align: left;
    border: none;
}

form fieldset legend {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, transparent, rgb(215, 210, 235), transparent), linear-gradient(to right, rgb(215, 210, 235), transparent 70%, rgb(215, 210, 235));
    background-size: 100% 2px, 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%, 0 0;
    padding: 10px;
    font-weight: bold;
    box-sizing: border-box;
}

form fieldset p {
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
}

form fieldset input, textarea {
    display: block;
    color: #222;
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
}

form fieldset input {
    border: none;
    border-bottom: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
    text-align: center;
}

form fieldset input[type="radio"] {
    width: 20px;
    display: inline-block;
}


form fieldset input[type="submit"] {
    color: white;
    padding: 7px 0;
    cursor: pointer;
    font-size: 12pt;
    background-color: rgba(221,0,0,.8);
    border: none;
    border: 1px solid #CECECE !important;
    transition: box-shadow .2s ease-in-out;
}

form fieldset input[type="submit"]:hover, input[type="submit"]:focus {
    box-shadow: 0px 0px 3px rgba(0,0,0,.2);
    background-color: rgba(221,0,0,.7);
}

form fieldset input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    background-image: linear-gradient(160deg, #FFF, #F8F8F8);
}

form fieldset input:invalid, textarea:invalid {
    box-shadow: none;
}

form fieldset input:focus:invalid, textarea:focus:invalid {
    border-color: red;
}

form fieldset input:focus:valid, textarea:focus:valid {
    border-color: green;
}

form fieldset table {
    border-collapse: collapse;
    width: 100%;
}

form fieldset table tr th {
    font-weight: normal;
}

form fieldset table tr td {
    border: none;
}

form fieldset table tr td:nth-of-type(1) {
    padding-right: 5px;
}

form fieldset table tr td:nth-of-type(2) {
    padding-left: 5px;
}

@keyframes roda2 {
    from {transform: rotate(0deg); right: 20px;}
    to {transform: rotate(360deg); left: 20px; background-color: blue;}
}			

#teste2 {
    position: absolute;
    top: 120px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: red;
    animation: roda2 .8s linear infinite alternate;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
}

aside {
    width: 100%;
    padding-left: 2.5%;
    box-sizing: border-box;
}

aside h2 {
    background-image: linear-gradient(45deg, rgb(230, 205, 230), transparent);
    padding: 5px;
    font-size: 14pt;
}

aside p {
    padding: 10px;
    font-size: 11pt;
    box-sizing: border-box;
}

aside p#contato-wpp:before {
    background-image: url('../imgs/icons/whatsapp.png');
    background-size: 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    margin-right: 5px;
    vertical-align: middle;
}

aside p#contato-email:before {
    background-image: url('../imgs/icons/email.png');
    background-size: 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    margin-right: 5px;
    vertical-align: middle;
}

aside p#contato-tim:before {
    background-image: url('../imgs/icons/cellphone.png');
    background-size: 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    margin-right: 5px;
    vertical-align: middle;
}